doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/javascripts/index.js')


  body
    script(src='/javascripts/nw_status.js')


    block content
