doctype html
html
head
title= title
script(src='/javascripts/index.js')
link(rel='stylesheet', href='https://unpkg.com/@clr/ui/clr-ui.min.css')
body
script(src='/javascripts/nw_status.js')
div(class='main-container')
  div(class='alert alert-app-level')
    p ...notification..bar...
  div(class='header header-6')  
    p ....header..bar..
  nav(class='subnav')
    p ...nav....
  div(class='content-container')
    div(class='content-area')
      block content 
        
    
